.app-header {
    background-image: url('../images/headers/seqrity_header.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* filter: blur(1px); */
    /* Adjust the blur radius as needed */
}


.footer {
    background-color: #f1f1f1 !important;
    text-align: center !important;
    padding: 40px 0 !important;
}

/* for printing the QR Code details */

@media print {
    /* Hide the print button */
    .btn-print {
        display: none;
    }

    /* Specify the elements to be printed */
    .printable {
        display: block;
        margin-top: 0 !important; /* Remove margin from the top */
    }

    /* Optionally hide other elements */
    body * {
        visibility: hidden;
    }

    .printable,
    .printable * {
        visibility: visible;
    }

    /* Position printable elements at the top of the page */
    .printable {
        position: absolute;
        top: 0;
    }
}
