body{
    margin: 0;
    padding: 0;
    /* background: url("img/entrance_pic.jpg"); */
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.overlay {
    position: absolute;
    margin: 0%;
    padding: 0%;
    width: 100%;
    height: 100vh;
    background-color: black;
    background-size: cover;
    opacity: 0.7;  /* Adjust opacity for desired transparency */
  }
 
h1 {
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    color:#FFFFFF !important;
    background-color: #8A9D90 !important;
}

button:disabled {
  /* Your styles for disabled buttons */
  opacity: 0.3 !important; /* Example: reduce opacity */
  cursor: not-allowed; /* Example: change cursor */
  /* Add any other styles you want */
}

/* 
input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
    color:#FFFFFF;
    background-color: #8A9D90;
} */

button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #6D987B;
}

a {
    display: block;
    text-align: center;
    margin-top: 10px;
    color: #ccc;
}

.card {
    border-radius: 30px; /* Adjust the value for desired roundness */
    background-color: #32543B;
    /* height: 400px;
    width: 470px; */
    border-color: #FFFFFF;
    max-width: 500px; /* Adjust this value as per your requirement */
    width: 100%;
    height: 5200px;
    max-height: 520px;/* Set height to auto to adjust based on content */
    margin: auto;
    
  }

  .card-title {
    margin-top: 50px;
    color: #FFFFFF;  /* Set the desired color */
  }

  .gray-background {
    background-color: #8A9D90; /* Change the color code to the desired shade of gray */
    border-radius: 15px;
    margin-bottom: 0px;
  }

  .custom-button {
    background-color: #4D8B5F; /* Change the color code to your desired color */
    color: #fff; /* Change the text color if needed */
    padding: 15px 15px;
    width: 200px;
    border-radius: 20px;
  }

  .forgot-password-link:hover {
    color: #6D987B; /* Change the color code to your desired hover color */
  }

  .forgot-password-link{
    color: #FFFFFF;
    font-size: small;
  }

  input::placeholder{
    color: #FFFFFF !important; 
  }
  

  /* Custom CSS */
  .password-container {
    position: relative;
}

/* Custom CSS */
.password-container {
    position: relative;
}

.error-title {
  color: #f27474; /* Dark red */
  font-size: 24px;
}

/* Error content style */
.error-content {
  color: #f27474; /* Dark red */
  font-size: 16px;
}

/* Error confirm button style */
.swal2-confirm {
  background-color: #32543B !important; /* Red */
  color: white;
}

.form-control:focus {
  box-shadow: none;
}

.form-group.success input{
    border-color: #09c372 !important;
}

.form-group.error input{
  border-color: #ff3860 !important;
}

.form-group .error {
  color: #ff3860 !important;
  font-size: small !important;
  margin-top: 0px !important;
}

.error-validation-js{
  color:#f27474;
  font-size: small;
  margin-top: 0px;
}

.input-login-form-group-height{
  height: 80px !important;
}

.input-reset-password-confirm{
  height: 150px !important;
}

.password-wrapper {
  position: relative;
}

.login-password-icon{
    color:#32543B;
    font-size: large;
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}



/* input:invalid {
  border: 2px solid red;
}

input:valid {
  border: 2px solid green;
} */


/* .spinner-wrapper{
  background-color: black;
  position:fixed;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s;
}

.spinner-border{
  height:60px;
  width:60px;
} */

.form-label-custom{
  color: #FFFFFF;
  font-size:x-small;
  margin-bottom: 0px;
}